name: Contributors
on:
  schedule:
    - cron: '* * * 10 *'
  push:
    branches:
      - main
jobs:   
  contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: wow-actions/contributors-list@v1
        with:
          GITHUB_TOKEN: ${{ secrets.CONTRIBUTORS_TOKEN }}
          round: true,
          affiliation: all,
          userNameHeight: 15
          commitMessage: 'chore: update contributors'
          itemTemplate: >
            <g transform="translate({{ x }}, {{ y }})">
              <a xlink:href="{{{ url }}}" target="_blank" rel="nofollow sponsored" title="{{{ name }}}" id="{{{ name }}}">
                <image width="{{ width }}" height="{{ height }}" xlink:href="{{{ avatar }}}" />
                <text x="32" y="74" text-anchor="middle" alignment-baseline="middle" font-size="10">{{{ name }}}</text>
              </a>
            </g>
      - name: Configure GPG Key
        run: |
          echo -n "$GPG_SIGNING_KEY_PUB" | base64 --decode | gpg --import
          wget --no-check-certificate -qO - http://pkg.jenkins-ci.org/debian/jenkins-ci.org.key | sudo apt-key add -
          apt install ca-certificates
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY_PUB }}

#       - name: Import GPG Key
#         uses: crazy-max/ghaction-import-gpg@v1
#         env:
#            GPG_PRIVATE_KEY: ${{ secrets.GPG_SIGNING_KEY }}
#            PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

